@charset "UTF-8";
//ローカルナビ
$localnav: #f2ec27; //ボタン背景
$localnav_txt: #222; //ボタンテキスト

//ローカルナビ、ホバー・カレント時
$localnav_on: #f2ec27; //ボタン背景
$localnav_on_txt: #222; //ボタンテキスト

//タイトル
$title_bk: #222; //タイトル背景
$title_txt: #fff; //タイトルテキスト

//MOREボタン
$more_bk: #222; //ボタン背景
$more_txt: #fff; //ボタンテキスト

//値書きフロア
$floor_bk: #222; //フロア背景
$floor_txt: #fff; //フロアテキスト
$floor_arrow01: #fff; //右端矢印、円の背景
$floor_arrow02: #222; //右端矢印、三角の色
